<html>
<head>
<title>mobwrite as a collaborative editor</title>
<style type="text/css">
body {
  background-color: white;
  font-family: sans-serif;
}
h1, h2, h3 {
  font-weight: normal;
}
textarea {
  font-family: sans-serif;
}
</style>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.socket.io/stable/socket.io.js" ></script>

<script type="text/javascript" src="/static/CodeMirror-2.12/lib/codemirror.js"></script>
<script type="text/javascript" src="/static/CodeMirror-2.12/lib/overlay.js"></script>
<script type="text/javascript" src="/static/CodeMirror-2.12/mode/javascript/javascript.js"></script>

<script src="/static/js/diff_match_patch_uncompressed.js"></script>
<script src="/static/js/mobwrite_core.js"></script>

<script src="/static/js/mobwriteio.js"></script>


<link rel="stylesheet" type="text/css" href="/static/CodeMirror-2.12/lib/codemirror.css" /> 
<link rel="stylesheet" type="text/css" href="/static/css/theme_dark.css" /> 
</head>
<body >

<table style="height: 100%; width: 100%">
<input type="text" id="res" value="wwww"/>
<button id="resBot">SET</button>
<tr><td height=1><h1>mobwrite as a collaborative editor</h1></td></tr>
<tr><td><textarea id="demo_editor_text" style="width: 100%; height: 100%"></textarea></td></tr>

</table>
<script type="text/javascript">
	
var text_area = document.getElementById('demo_editor_text');
var code_mirror = CodeMirror.fromTextArea( text_area, {
	mode: {name: "javascript"},
	lineNumbers: true,
	indentUnit: 4
});


$("#resBot").click( function() {
  connect( code_mirror );
  return false
})
</script>

</body>
</html>
