<HTML>
<HEAD>
<TITLE>MobWrite as a Collaborative Editor</TITLE>
<STYLE type="text/css">
BODY {
  background-color: white;
  font-family: sans-serif;
}
H1, H2, H3 {
  font-weight: normal;
}
TEXTAREA {
  font-family: sans-serif;
}
</STYLE>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.socket.io/stable/socket.io.js" ></script>

<script type="text/javascript" src="/static/CodeMirror-2.12/lib/codemirror.js"></script>
<script type="text/javascript" src="/static/CodeMirror-2.12/lib/overlay.js"></script>
<script type="text/javascript" src="/static/CodeMirror-2.12/mode/javascript/javascript.js"></script>

<SCRIPT SRC="/static/js/diff_match_patch_uncompressed.js"></SCRIPT>
<SCRIPT SRC="/static/js/mobwrite_core_io.js"></SCRIPT>
<SCRIPT SRC="/static/js/mobwriteio.js"></SCRIPT>


<link rel="stylesheet" type="text/css" href="/static/CodeMirror-2.12/lib/codemirror.css" /> 
<link rel="stylesheet" type="text/css" href="/static/css/theme_dark.css" /> 
</HEAD>
<BODY >

<TABLE STYLE="height: 100%; width: 100%">

<TR><TD HEIGHT=1><H1>MobWrite as a Collaborative Editor</H1></TD></TR>

<TR><TD HEIGHT=1><INPUT TYPE="text" ID="demo_editor_title" STYLE="width: 50%"></TD></TR>

<TR><TD><TEXTAREA ID="demo_editor_text" STYLE="width: 100%; height: 100%"></TEXTAREA></TD></TR>

</TABLE>
<script type="text/javascript">
	
	var text_area = document.getElementById('demo_editor_text');
	var code_mirror = CodeMirror.fromTextArea( text_area, {
		mode: {name: "javascript"},
		lineNumbers: true,
		indentUnit: 4
	});

/*var myCodeMirror = CodeMirror(document.getElementById('demo_editor_title'), {
  	mode:  "javascript"
});*/
/**
* Retrieve the user's text.
* @return {string} Plaintext content.
*/
mobwrite.shareTextareaObj.prototype.getClientText = function() {
	if (!mobwrite.validNode_(this.element)) {
		mobwrite.unshare(this.file);
	}
	var text = mobwrite.shareTextareaObj.normalizeLinebreaks_(code_mirror.getValue());
	if (this.element.type == 'text') {
	// Numeric data should use overwrite mode.
	this.mergeChanges = !text.match(/^\s*-?[\d.,]+\s*$/);
	}
	// takes position of the cursor
	code_mirror.lastCursor = code_mirror.getCursor()
	return text;

};

/**
* Set the user's text.
* @param {string} text New text
*/
mobwrite.shareTextareaObj.prototype.setClientText = function(text) {
	code_mirror.setValue(text);
	this.fireChange(this.element);
	// position cursor back on the previous location
	code_mirror.setCursor( code_mirror.lastCursor );
};

mobwrite.debug=true; 
mobwrite.share('demo_editor_text');
</script>
</BODY>
</HTML>
